body{
	/* width:1200px; */
	margin-left:auto;
	margin-right:auto;
  background-image: url('./background1.png'), url('./background2.jpg');
  background-size: cover;
  background-repeat: round;
}
header{
	width:60%;
  margin-top:35px;
	background-image: url('./header1.jpg');
  background-size: 200px;
	margin-left: auto;
  margin-right: auto;
	display:flex;
	position:relative;
	justify-content:center;
}
section{
  margin-top:100px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 200px;
  display:flex;
  position: relative;
  justify-content: space-around;
  /* background: purple; */
}
a{
  width:200px;
  height:200px;
  font-size: 50px;
  font-family: 'Tangerine', cursive;
  display:flex;
  position:relative;
  justify-content: center;
  align-items: center;
	flex-direction: column;
	flex-shrink: 0;
}
a:hover{
  box-shadow: 10px 10px 50px 50px;
  color:yellow;
}
#igen{
  color:red;
  background-image: url('./link1.jpg');
  background-size: 800px;
  margin-left: 20px;
}
#nem{
  margin-top:210px;
  margin-right:50px;
  color:green;
  background-image: url('./link2.jpg');
  background-size: 380px;
}
audio{
	top:-80px;
	position: absolute;
}
